/*
 * Base structure
 */

/* Move down content because we have a fixed navbar that is 50px tall */

html, body{
      height:100%;
      width:100%;
      padding:0px;
      margin:0px;
}

body {
  padding-left: 0%;
  padding-right: 0%;
  padding-top: 50px;
  /* background-image: url(images/gris_005.jpg); */
}

#navBar {
  padding-top: 0px;
}

#h2menu {
  margin-top: 7px;
}

#h2menu2 {
  display: none;
}

#pPick {
  font-size: 16px;
  /* color: #EB9100; */
  font-weight: bold;
 /* background-color: white; */
}

.centerColor {
  padding-top:5px; padding-bottom: 5px;
  margin-left: auto;
  margin-right: auto;
  width: 30%;
  background-color: #b0e0e6; /*  b0e0e6 */ /* EB9100 */ 
  border-radius: 5px;
}

.left {
  float: left;
  margin-left: 30px;
  width : 40%;
}

#rightTab {
  float: right;
  margin-right : 50px;
  width: 50%;
}

#rightTab2 {
  display: none;
}

#butToggle {
  margin-top: 10px;
  display: none;
}

#button-wrapper {
    padding-right: 4px;
    position: relative;
    top: 10px;
    width: 100%;
    z-index: 10;
}

#butCluster {
  margin-top: 5px;
  margin-right: 10px;
}

select, option {
  text-align: center;
  font-weight: bold;
}

/*
 * Leaflet map
 */
#map{
  border: 1px solid black;
  margin-left: 30px;
  width: 40%;
  height: 60%;
}

/*
 * Slider
 */
#slider{
  padding-top: 33px;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
}

/* When the screen width is under 1024px */
@media screen and (max-width: 1024px) {
  #map {
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    height: 60%;
  }

  .left {
    float: none;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
  }

  .center {
    margin-left: auto;
    margin-right: auto;
    width: 90%;
  }

  #navBar {
    padding-top: 0px;
  }

  #rightTab {
    display: none;
  }
  #rightTab2 {
    padding-top: 10px;
    display: block;
  }
  #butToggle {
    margin-top: 10px;
    display: block;
  }

  #h2menu {
    display: none;
  }

  #h2menu2 {
    display: block;
    margin-top: 7px;
  }
}