/*
 * Base structure
 */

/* Move down content because we have a fixed navbar that is 50px tall */

html, body{
      height:100%;
      width:100%;
      padding:0px;
      margin:0px;
}

body {
  padding-left: 0%;
  padding-right: 0%;
  padding-top: 0px; /* if .navBar position is fixed, you can put a 50px padding-top */
  /* background-image: url(images/gris_005.jpg); */
}

a {
  color: #EB9100;
}

a:hover {
  color: #fe7d00;
}

h4 {
  color: #EB9100;
}

.navbar {
  position: relative;
}

#navBar {
  background-color: #222222;
  padding-top: 0px;
}

#h2menu {
  margin-top: 7px;
  margin-left: 20px;
}

#h2menu2 {
  padding-left: 15px;
  display: none;
}

#pPick {
  font-size: 16px;
  font-weight: bold;
  text-align : center;
}

.left {
  float: left;
  margin-left: 30px;
  width : 40%;
}

#rightTab {
  float: right;
  margin-right : 50px;
  width: 50%;
}

#rightTab2 {
  display: none;
}

#butToggle {
  margin-top: 10px;
  display: none;
}

#butDwl {
  display: none;
}

#butAbout {
  display: none;
}

.reportTitle {
  color: red;
}

select, option {
  text-align: center;
  font-weight: bold;
}

.selectpicker {
  text-align: center;
}

/*
 * Leaflet map and associate buttons
 */
#map{
  border: 1px solid black;
  margin-left: 30px;
  width: 40%;
  height: 60%;
}

#button-wrapper {
    padding-right: 4px;
    position: relative;
    top: 10px;
    width: 100%;
    z-index: 10;
}

#butCluster {
  margin-top: 5px;
  margin-right: 10px;
}

/**
 * Reports table
 */
.bg-table-car{
  background-color: #f2dede;
}
.bg-table-train{
  background-color: #d9edf7;
}
.bg-table-walking{
  background-color: #dff0d8;
}
.bg-table-undefined {
  background-color: #d3d3d3;
}

/*
 * Calendars
 */
#calendars {
  width: 100%;
  padding-top: 15px;
  padding-bottom: 0px;
}

#dpTo {
  padding-right: 2px;
}

/*
 * Bottom, Download
 */
#hrBot {
  border-width: 2px;
}

#aBot {
  color: #337AB7;
}

#alertBot {
  width: 75%; 
  margin: auto;
  padding-bottom: 15px;
}

.load {
  padding-top: 0px;
  display: none;
}

.load2 {
  padding-top: 0px;
  display: none;
}

#h1CF {
  display: inline;
}

#h2menu {
  margin-top: 10px;
  margin-left: 100px;
}

/** Progress bar **/
.progress{
  margin-bottom: 0px;
}
.progress-bar-header-img{
  text-align: right;
}
.progress-bar-plane{
  background-color: #333;
}
.progress-bar-car{
  background-color: #d9534f;
}
.progress-bar-bus{
  background-color: #f0ad4e;
}
.progress-bar-train{
  background-color: #5bc0de;
}

/** Row from Emission */
.rowEmission {
  width: 100%;
}

/* When the screen width is under 1024px */
@media screen and (max-width: 1024px) {

  #map {
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    height: 60%;
  }

  .left {
    float: none;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
  }

  .center {
    margin-left: auto;
    margin-right: auto;
    width: 90%;
  }

  #navBar {
    padding-top: 0px;
    border-radius: 0px 0px 10px 10px; 
    background-color: #222222;
  }

  #rightTab {
    display: none;
  }
  #rightTab2 {
    padding-top: 10px;
    display: block;
  }

  /** Menu **/
  #butToggle {
    display: inline;
  }
  #butAbout {
    display: inline;
  }
  #butDwl {
    display: inline;
  }

  #h2menu {
    padding-left: 10px;
    display: none;
  }

  #h2menu2 {
    display: block;
    margin-top: 12px;
    margin-left: 0%;
  }

  #abouth4 {
    display: none;
  }

  .thReportMob {
    display: none;
  }

  #emission {
    display: none;
  }

}

/* When the screen width is under 480px */
@media screen and (max-width: 480px) {
  .thReport {
    display: none;
  }
  .thReportMob {
    display: block;
  }
  #alertBot {
    width: 90%;
  }
}