/*
 * Base structure
 */

/* Move down content because we have a fixed navbar that is 50px tall */

html, body{
      height:100%;
      width:100%;
      padding:0px;
      margin:0px;
}

body {
  padding-left: 0%;
  padding-right: 0%;
  padding-top: 0px; /* if .navBar position is fixed, you can put a 50px padding-top */
  /* background-image: url(images/gris_005.jpg); */
}

a {
  color: #EB9100;
}

a:hover {
  color: #fe7d00;
}

h4 {
  color: #EB9100;
}

.navbar {
  position: relative;
}

#navBar {
  padding-top: 0px;
}

#h2menu {
  margin-top: 7px;
  margin-left: 20px;
  text-decoration: bold;
}

#h2menu2 {
  padding-left: 15px;
  display: none;
  text-decoration: bold;
}

#pPick {
  font-size: 16px;
  font-weight: bold;
  text-align : center;
}

.left {
  float: left;
  margin-left: 30px;
  width : 40%;
}

#rightTab {
  float: right;
  margin-right : 50px;
  width: 50%;
}

#rightTab2 {
  display: none;
}

#butToggle {
  margin-top: 10px;
  display: none;
}

#butDwl {
  display: none;
}

#butAbout {
  display: none;
}

.reportTitle {
  color: red;
}

select, option {
  text-align: center;
  font-weight: bold;
}

.selectpicker {
  text-align: center;
}

/*
 * Leaflet map and associate buttons
 */
#map{
  border: 1px solid black;
  margin-left: 30px;
  width: 40%;
  height: 60%;
}

#button-wrapper {
    padding-right: 4px;
    position: relative;
    top: 10px;
    width: 100%;
    z-index: 10;
}

#butCluster {
  margin-top: 5px;
  margin-right: 10px;
}

/*
 * Slider
 */
#slider{
  padding-top: 33px;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
}

/*
 * Calendars
 */
#calendars {
  width: 100%;
  padding-top: 15px;
  padding-bottom: 0px;
}

#dpTo {
  padding-right: 2px;
}

/*
 * Bottom, Download
 */
#hrBot {
  border-width: 2px;
}

#aBot {
  color: #337AB7;
}

#alertBot {
  width: 75%; 
  margin: auto;
  padding-bottom: 15px;
}

/* When the screen width is under 1024px */
@media screen and (max-width: 1024px) {

  #map {
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    height: 60%;
  }

  .left {
    float: none;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
  }

  .center {
    margin-left: auto;
    margin-right: auto;
    width: 90%;
  }

  #navBar {
    padding-top: 0px;
  }

  #rightTab {
    display: none;
  }
  #rightTab2 {
    padding-top: 10px;
    display: block;
  }

  #butToggle {
    display: inline;
  }
  #butAbout {
    display: inline;
  }
  #butDwl {
    display: inline;
  }

  #formTopButtons {
    margin-left: 15px;
  }

  #h2menu {
    padding-left: 10px;
    display: none;
  }

  #h2menu2 {
    display: block;
    margin-top: 12px;
    margin-left: 0%;
    text-decoration: bold;
  }

  #abouth4 {
    display: none;
  }

  .thReportMob {
    display: none;
  }

}

/* When the screen width is under 480px */
@media screen and (max-width: 480px) {
  .thReport {
    display: none;
  }
  .thReportMob {
    display: block;
  }
  #alertBot {
    width: 90%;
  }
}